$font-head: "Space Mono", sans-serif;
$font-txt: "Lato", sans-serif;
$small: 0.8rem;
$cookie: #a35d3c;
$orange: lighten(#af762f, 20%);
$yellow: lemonchiffon;
$shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
